.achievements {
    grid-column: 2/14;
    padding: 6rem;
    
    a {
        color: $black;
        text-decoration: none;
    }

    &-box__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 4rem;
        color: $black;
        margin-top: 6rem;
    }

    &-box {
        padding: 2rem;
        height: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        img {
            object-fit: fill;
            max-height: 19rem;
        }

        &:hover {
            border: solid 2px $black;
        }

        &:after {
            content: '';
            position: absolute;
            width: 103%;
            height: 101%;
            top: 1rem;
            right: 0;
            z-index: -1;
        }
    
        &:hover:after {
            outline: 2px solid $black;
        }

        &:nth-child(1) {
            background: linear-gradient(to bottom, #F3CBAB, #FEEDCA);
        }
        &:nth-child(2) {
            background: linear-gradient(to bottom, #B1E5F9, #F4D2FE);
        }
    }
}
