.achievements {
    grid-column: 2/14;
    padding: 6rem;
    
    a {
        color: $black;
        text-decoration: none;
    }

    &-box__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 4rem;
        color: $black;
        margin-top: 6rem;
    }

    &-box {
        padding: 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        border: solid 1px $black;

        ul {
            list-style: none;
            padding-left: 1.5rem;
            font-size: 1.8rem;
            li {
                line-height: 3rem;
            }
        }

        &:after {
            content: '';
            position: absolute;
            width: 103%;
            height: 101%;
            top: 1rem;
            right: 0;
            z-index: -1;
            outline: 1px solid $black;
        }

        &:nth-child(1) {
            background-image: linear-gradient(135deg, #fce8db 10%, #fbfce3 100%);
        }
        &:nth-child(2) {
            background-image: linear-gradient(135deg, #dff1b3 10%, #f6fde9 100%);
        }
        &:nth-child(3) {
            background-image: linear-gradient(135deg, #d2d7f0 10%, #e1f6f6 100%);
        }
        
    }
}
