.contact {
    grid-column: 2/14;
    padding: 6rem;
    background-image: url("/img/jpeg/mapimage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    &-box__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 4rem;
        color: $black;
        margin-top: 6rem;
        
    }

    &-box {
        color: black;

        h5 {
            color: black;
        }

        &-field {
            
        }
    }

}
