@mixin transitionEase($property) {
  transition-property: $property;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
}

@mixin bgImg($url) {
  background-image: url($url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
}
