.project {
    grid-column: 2/14;
    padding: 6rem;

    &-box__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 4rem;
        color: $black;
        margin-top: 6rem;
    }

    &-box {
        padding: 2rem;
        height: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        cursor: pointer;

        box-shadow: 0px 15px 15px $shadows;


        @include transitionEase(height); 

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(5px);

        }

        &:hover:before, &:hover:focus {
            filter: blur(0px);
        }

        &:first-child:before { 
            @include bgImg('/img/gif/canary.gif');
        }
        &:nth-child(2):before { 
            @include bgImg('https://tiapnn.github.io/img/stoic%20gif.gif');
        }
        &:last-child:before { 
            @include bgImg('https://tiapnn.github.io/img/pomodoro%20gif.gif');
        }
        
            
        

    }


    &-box__link {
        align-self: flex-end;
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;


        @media only screen and (max-width: 56.25em) { // tab-port
            width: 30%;
        }

    }
    &-box__content {
        align-self: center;
        @include transitionEase(opacity); 
        z-index: 1;
    }
}

