.project {
    grid-column: 2/14;
    padding: 6rem;

    &-box__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 4rem;
        color: $black;
        margin-top: 6rem;
    }

    &-box {
        
        padding: 2rem;
        height: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        box-shadow: 0px 15px 15px $shadows;
        @include transitionEase(height); 

        &:hover {
            color: transparent;
        }

        &:first-child:hover { 
            @include bgImg('/img/gif/canary.gif');
        }
        &:nth-child(2):hover { 
            @include bgImg('/img/gif/pistasta.gif');
        }
        &:last-child:hover { 
            @include bgImg('/img/gif/sofi.gif');
        }

        &:nth-child(1) {
            background: linear-gradient(to bottom, #F3CBAB, #FEEDCA);
        }
        &:nth-child(2) {
            background: linear-gradient(to bottom, #B1E5F9, #F4D2FE);
        }
        &:nth-child(3) {
            background: linear-gradient(to bottom, #DBB4F3, #EFB7D7);
        }

    }

    &-box__link {
        align-self: flex-end;
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;

        @media only screen and (max-width: 56.25em) { // tab-port
            width: 30%;
        }

    }
    
    &-box__content {
        align-self: center;
        @include transitionEase(opacity); 
        z-index: 1;
    }
}

